@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

$headingFont: 'Staatliches', cursive;
$logoFont: 'Rock Salt', cursive;  
$knotsFont: 'Electrolize', sans-serif;

$backgroundColor: #252120;
$white: whitesmoke;