@keyframes slideIn { 
  0% { transform: translate(0, -60%); } 
  70% { transform: translate(0, 3%); }  
  100% { transform: translate(0, 0%); } 
}

.homeMainHeading {  
display: flex;
  flex-grow: 1;  
  justify-content: center; 
  align-items: center;
} 

.projectList { 
  display:flex; 
  flex-direction: column; 
  align-items: center;  
  font-family: $headingFont; 
  animation: slideIn 1.2s;
}  

.menuItem{ 
  // font-size: 4rem;  
  font-size: 5.9vh;
  padding:5px;
  font-family: $headingFont; 
  transition:1.2s;

}  

.menuHoverable:hover{  
  color:#1a9b69;  
}

