

.makeStoryCard { 
    display:flex; 
    flex-direction: column; 
    border:2px solid whitesmoke;
    position:absolute;  
    width:40vw;
    margin: auto; 
    // margin-left: auto; 
    // margin-right: auto;  
    left:0; 
    right:0; 
    // top:0; 
    // bottom:0; 
    background-color: $backgroundColor; 

} 

.wordPrompts { 
    display:flex;  
    justify-content: space-around;  
   

}  

.wordPropmtsTitle{ 
    display: flex; 
    justify-content: center; 
   
}

.makeStoryForm{ 
    width:40vw;  
    background-color: $backgroundColor; 
    
}

textArea{ 
    height:10rem
}  

.wordPropmtsTitle, 
.wordPrompts, 
.formField { 
    margin-bottom:0.8rem
} 

.storySubmit {  
    width:30%; 
    margin:0 auto; 
    color:black

} 

.formField{ 
    color:black;

} 

.closeTab{  
    position:relative;
    height:2rem; 
    background-color: whitesmoke; 
    color: black; 
    display: flex; 
    align-items: center; 
    justify-content: flex-end;  
    z-index: 2; 
    cursor:move;
}  

.storyCard { 
    overflow:auto;
    display:flex; 
    flex-direction: column; 
    width:90%; 
    word-wrap: break-word;

} 

.storyCardGrid{ 
    display:grid; 
    row-gap:20%;   
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center; 
    margin-top:3rem

}  

.closeButton{ 
    color:black;
    margin-right:0.4rem; 
    cursor:default;

 
} 


.bookContainer { 
    height:5rem; 
    width: 5rem; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.loading{ 
    display:grid;   
    grid-template-columns: repeat(2, 1fr); 
    justify-items: center;
} 

.brownBit1, .brownBit2 {  
    height: 4rem; 
    width: 4rem; 
    background-color: brown;   
}  

.brownBit1 { 
    border-right: 0.5px whitesmoke solid; 
    display: flex; 
    align-items: center; 
    justify-content: flex-end;

} 

.brownBit2 { 
    border-left: 0.5px whitesmoke solid; 
    display: flex; 
    align-items: center; 
    justify-content: flex-start;
}  

.page1, .page2 { 
    background-color: whitesmoke; 
    height: 3.5rem; 
    width: 3.5rem;  

}  

.page1 { 
color:black; 
z-index: 3;

} 

.page2 { 
color:black ; 
z-index: 3;
} 


.extraPage1 { 
    background-color: whitesmoke; 
    height: 3.5rem; 
    width: 3.5rem;  
    border-right: 0.5px whitesmoke solid; 
    display: flex; 
    align-items: center; 
    justify-content: flex-end;  
    z-index: 10; 
    position: absolute;   
    animation: flipPage 0.5s infinite linear; 
    transform-origin: right;  
    border: 1px black solid;
    animation-delay: 1s; 
    color:black

}


@keyframes flipPage {
    from {transform: rotateY(0deg);}
    to {transform:  rotateY(180deg) perspective(1200px) ;}
  }  

  footer { 
    position: fixed;
    bottom: 8%; 
    left:80%;
    width: 20%;
  } 

  .storyPage { 
      display: flex; 
      flex-direction: column; 
      justify-content: center; 
      align-items: center;
  }
 
  .makeStoryButton { 
      font-size: 1.2rem; 
    //   margin:0; 
      padding:0.5rem 2rem 

  }








